scoop bucket add github-gh https://github.com/cli/scoop-gh.git
scoop install gh
.github/ISSUE_TEMPLATE/translate.md
contributor.jpg
data_structure/binary_heap_implements_priority_queues.md
data_structure/design_Twitter.md
data_structure/Implementing the functions of a calculator.md
data_structure/Implementing_the_functions_of_a_calculator.md
data_structure/ImplementQueueUsingStacksImplementStackUsingQueues.md
data_structure/Monotonic_queue.md
data_structure/monotonic_stack.md
data_structure/MonotonicStack.md
data_structure/README.md
data_structure/RecursionInDetail
data_structure/RecursionInDetail.md
data_structure/The_Manipulation_Collection_of_Binary_Search_Tree.md
data_structure/二叉搜索树操作集锦.md
data_structure/单调栈.md
data_structure/单调队列.md
data_structure/设计Twitter.md
data_structure/递归反转链表的一部分.md
dynamic_programming/EditDistance.md
dynamic_programming/FourKeysKeyboard.md
dynamic_programming/GameProblemsInDynamicProgramming.md
dynamic_programming/IntervalScheduling.md
dynamic_programming/LongestIncreasingSubsequence.md
dynamic_programming/OptimalSubstructure.md
dynamic_programming/README.md
dynamic_programming/RegularExpression.md
dynamic_programming/StrategiesForSubsequenceProblem.md
dynamic_programming/SuperEggDropAdvanced.md
dynamic_programming/ThrowingEggsinHighBuildings.md
dynamic_programming/动态规划之博弈问题.md
dynamic_programming/动态规划之四键键盘.md
dynamic_programming/动态规划设计：最长递增子序列.md
dynamic_programming/子序列问题模板.md
dynamic_programming/最优子结构.md
dynamic_programming/最长公共子序列.md
dynamic_programming/编辑距离.md
dynamic_programming/贪心算法之区间调度问题.md
dynamic_programming/高楼扔鸡蛋进阶.md
dynamic_programming/高楼扔鸡蛋问题.md
INI_file_icon.png
interview/check_palindromic_linkedlist.md
interview/Find-Duplicate-and-Missing-Element.md
interview/findSebesquenceWithBinarySearch.md
interview/koko偷香蕉.md
interview/k个一组反转链表.md
interview/LRU_algorithm.md
interview/LRU算法.md
interview/missing_elements.md
interview/Print_PrimeNumbers.md
interview/README.md
interview/RemoveDuplicatesfromSortedArray.md
interview/Reservoir Sampling.md
interview/ReservoirSampling.md
interview/reverse-nodes-in-k-group.md
interview/Seatscheduling.md
interview/TheLongestPalindromicSubstring.md
interview/Trapping_Rain_Water.md
interview/UsingBinarySearchAlgorithm.md
interview/valid-parentheses.md
interview/一行代码解决的智力题.md
interview/二分查找判定子序列.md
interview/判断回文链表.md
interview/合法括号判定.md
interview/如何去除有序数组的重复元素.md
interview/座位调度.md
interview/打印素数.md
interview/接雨水.md
interview/最长回文子串.md
interview/消失的元素.md
interview/缺失和重复的元素.md
pictures/backtracking/1en.jpg
pictures/backtracking/2en.jpg
pictures/backtracking/3en.jpg
pictures/backtracking/3en.png
pictures/backtracking/4en.jpg
pictures/backtracking/5en.jpg
pictures/backtracking/6en.jpg
pictures/backtracking/7en.jpg
pictures/binarySearch/binarySearch1.png
pictures/binarySearch/binarySearch2.png
pictures/BitManipulation/1.png
pictures/BitManipulation/title.png
pictures/design_Twitter/design.png
pictures/design_Twitter/merge.gif
pictures/design_Twitter/tweet.jpg
pictures/design_Twitter/user.jpg
pictures/DetailedBinarySearch/1.jpg
pictures/DetailedBinarySearch/2.jpg
pictures/DetailedBinarySearch/3.jpg
pictures/DetailedBinarySearch/4.jpg
pictures/DetailedBinarySearch/binarySearch1.png
pictures/DetailedBinarySearch/binarySearch2.png
pictures/DetailedBinarySearch/poem.png
pictures/DetailedBinarySearch/verse.jpg
pictures/double_pointer/11.png
pictures/double_pointer/22.png
pictures/double_pointer/33.png
pictures/double_pointer/cyc1.png
pictures/double_pointer/cyc2.png
pictures/DoublePointerTechnique/1.png
pictures/DoublePointerTechnique/2.png
pictures/DoublePointerTechnique/3.png
pictures/DoublePointerTechnique/center.png
pictures/DoublePointerTechnique/title.png
pictures/editDistance/delete.gif
pictures/floodfill/cutout.jpeg
pictures/floodfill/cutout.jpg
pictures/floodfill/leetcode_en.jpg
pictures/floodfill/minesweeper.png
pictures/GameProblems/1.png
pictures/GameProblems/2.png
pictures/GameProblems/3.png
pictures/GameProblems/4.png
pictures/header.jpg
pictures/LIS/1.jpeg
pictures/LIS/2.jpeg
pictures/LIS/3.jpeg
pictures/LIS/gif1.gif
pictures/LIS/gif2.gif
pictures/LIS/LISdescription.png
pictures/LIS/poker1.jpeg
pictures/LIS/poker2.jpeg
pictures/LIS/poker3.jpeg
pictures/LIS/poker4.jpeg
pictures/LRU/1.jpg
pictures/LRU/2.jpg
pictures/LRU/3.jpg
pictures/LRU/4.jpg
pictures/LRU/5.jpg
pictures/missing_elements/1.jpg
pictures/missing_elements/2.jpg
pictures/missing_elements/3.jpg
pictures/missing_elements/title.png
pictures/missing_elements/title_en.jpg
pictures/missing_elements/xor.png
pictures/monotonic_queue/1.png
pictures/monotonic_queue/2.png
pictures/monotonic_queue/3.png
pictures/monotonic_queue/title.png
pictures/monotonic_stack/1.png
pictures/monotonic_stack/2.png
pictures/monotonic_stack/3.png
pictures/MonotonicStack/1.png
pictures/MonotonicStack/2.png
pictures/MonotonicStack/3.png
pictures/online/1_english.png
pictures/online/2_english.png
pictures/online/3_english.png
pictures/online/4_english.png
pictures/online/5_english.png
pictures/online/6_english.png
pictures/optimal_substructure/1.jpg
pictures/palindrome/example.png
pictures/palindromic_linkedlist/1.gif
pictures/palindromic_linkedlist/1.jpg
pictures/palindromic_linkedlist/2.jpg
pictures/palindromic_linkedlist/3.jpg
pictures/palindromic_linkedlist/4.jpg
pictures/prefix_sum/1.jpg
pictures/prefix_sum/2.jpg
pictures/prefix_sum/title.png
pictures/prefix_sum/title_en.jpg
pictures/redis_attack/1.png
pictures/redis_attack/2.png
pictures/redis_attack/3.png
pictures/redis_attack/4.png
pictures/redis_attack/5.png
pictures/redis_attack/6.png
pictures/Remove_Duplicates_from_Sorted_Array/1.gif
pictures/Remove_Duplicates_from_Sorted_Array/2.gif
pictures/Remove_Duplicates_from_Sorted_Array/title.png
pictures/Remove_Duplicates_from_Sorted_Array/title1.jpg
pictures/result.jpg
pictures/seat_scheduling/1.jpg
pictures/seat_scheduling/2.jpg
pictures/seat_scheduling/3.jpg
pictures/seat_scheduling/4.jpg
pictures/seat_scheduling/5.jpg
pictures/seat_scheduling/6.jpg
pictures/seat_scheduling/7.jpg
pictures/seat_scheduling/8.png
pictures/seat_scheduling/9.png
pictures/Sliding_window/0.png
pictures/Sliding_window/1.png
pictures/Sliding_window/2.png
pictures/Sliding_window/3.png
pictures/Sliding_window/title1.jpg
pictures/Sliding_window/title2.jpg
pictures/Sliding_window/title3.jpg
pictures/string_multiplication/1.jpg
pictures/string_multiplication/2.jpg
pictures/string_multiplication/3.jpg
pictures/string_multiplication/4.gif
pictures/string_multiplication/6.jpg
pictures/string_multiplication/title.png
pictures/string_multiplication/title_en.jpg
pictures/subsequence/1.gif
pictures/subsequence/1.jpg
pictures/subsequence/2.gif
pictures/subsequence/2.jpg
pictures/subsequence/3.jpg
pictures/subsequence/4.jpg
pictures/subsequence/5.jpg
pictures/SuperEggDrop/1.jpg
pictures/SuperEggDrop/2.jpg
pictures/SuperEggDrop/3.jpg
pictures/SuperEggDrop/dp.png
pictures/trapping_rain_water/0.jpg
pictures/trapping_rain_water/1.jpg
pictures/trapping_rain_water/2.jpg
pictures/trapping_rain_water/3.jpg
pictures/trapping_rain_water/4.jpg
pictures/trapping_rain_water/5.jpg
pictures/trapping_rain_water/title.jpg
pictures/unionfind-application/1.jpg
pictures/unionfind-application/2.jpg
pictures/unionfind-application/3.jpg
pictures/概率问题/p.png
README.md
starHistory.jpg
think_like_computer/BinarySearch.md
think_like_computer/CommonBitManipulation.md
think_like_computer/DetailedBinarySearch.md
think_like_computer/DetailsaboutBacktracking.md
think_like_computer/double_pointer.md
think_like_computer/DoublePointerTechnique.md
think_like_computer/flood_fill.md
think_like_computer/FloodFill算法详解及应用.md
think_like_computer/IntervalIntersection.md
think_like_computer/IntervalMerging.md
think_like_computer/PancakesSorting.md
think_like_computer/prefix_sum.md
think_like_computer/README.md
think_like_computer/RussianDollEnvelopes.md
think_like_computer/SlidingWindowTechnique.md
think_like_computer/string_multiplication.md
think_like_computer/The_key_to_resolving_TwoSum_problems.md
think_like_computer/ThewaytoAlgorithmlearning.md
think_like_computer/twoSum问题的核心思想.md
think_like_computer/Union-Find-Application.md
think_like_computer/Union-find-Explanation.md
think_like_computer/UnionFind算法应用.md
think_like_computer/why_i_recommend_algs4.md
think_like_computer/为什么推荐算法4.md
think_like_computer/二分查找详解.md
think_like_computer/信封嵌套问题.md
think_like_computer/前缀和技巧.md
think_like_computer/区间交集问题.md
think_like_computer/区间调度问题之区间合并.md
think_like_computer/双指针技巧.md
think_like_computer/回溯算法详解修订版.md
think_like_computer/字符串乘法.md
think_like_computer/常用的位操作.md
think_like_computer/滑动窗口技巧.md
think_like_computer/烧饼排序.md
think_like_computer/算法学习之路.md
translation_requirements.md
workflow.png
动态规划系列/动态规划之博弈问题.md
动态规划系列/动态规划设计：最长递增子序列.md
动态规划系列/动态规划详解进阶.md
动态规划系列/团灭股票问题.md
动态规划系列/子序列问题模板.md
动态规划系列/抢房子.md
动态规划系列/最优子结构.md
动态规划系列/最长公共子序列.md
动态规划系列/编辑距离.md
动态规划系列/贪心算法之区间调度问题.md
动态规划系列/高楼扔鸡蛋问题.md
技术/Cryptology.md
技术/linuxProcess.md
技术/linuxshell.md
技术/linux进程.md
技术/redis_attack.md
技术/SessionAndCookie.md
技术/session和cookie.md
技术/在线练习平台.md
技术/密码技术.md
数据结构系列/设计Twitter.md
数据结构系列/队列实现栈栈实现队列.md
算法思维系列/twoSum问题的核心思想.md
算法思维系列/前缀和技巧.md
算法思维系列/区间交集问题.md
算法思维系列/双指针技巧.md
算法思维系列/回溯算法详解修订版.md
算法思维系列/滑动窗口技巧.md
算法思维系列/烧饼排序.md
翻译约定（必读）.md
高频面试系列/k个一组反转链表.md
高频面试系列/LRU算法.md
高频面试系列/合法括号判定.md
高频面试系列/如何去除有序数组的重复元素.md
高频面试系列/子集排列组合.md
高频面试系列/座位调度.md
高频面试系列/打印素数.md
高频面试系列/接雨水.md
